body {
  background-color: rgb(244,244,246);
  position: relative;
  box-sizing: border-box;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
  }
  nav a {
    display: flex;
    margin: 0.4em;
  }
  #change-theme {
    padding-top: 0.5em;
    width: 211px;
    display: flex;
    justify-content: space-between;
    margin-right: 2em;
  }
  .friends-search {
    margin-right: 1em;  
  }
  #search-result-img {
    width: 2em;
    border-radius: 50%;    
  }
  #logo {
    width: 7em;
  }
  .homeLogo {
    display: flex;
    margin: 0;
    margin-bottom: -0.5em;
    height: 6em;
  }
  form div {
    margin: 1em;
    display: inline-block;
  }

  figure {
    margin: 0;
  }

  img {
    width: 100%;
    object-fit: contain;
  }
  #test {
    display: flex;
    flex-wrap: wrap;
  }

  #followers-container {
    display: flex;
    height: 4em;
    flex-direction: column;
    justify-content: space-between;
  }
  .follow-icon-container {
    display: flex;
  }
  .follow-text {
    margin: 0;
  }
  #logo {
    width: 7em;
    margin-top: 1em;
  }

  #profile-body {
    display: flex;
  }

  #profile-sidebar {
    padding: 2em;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    height: 100vh;
    margin-right: 1em;
    background: repeating-linear-gradient(
      45deg,
      rgba(114, 38, 38, 0.1),
      rgba(114, 38, 38, 0.1) 9px,
      white 5px,
      white 10px
    );
  }

  #profile-info {
    margin-top: 3em;
  }

  iframe {
    width: 50vw;
    height: 28vw;
  }

  #share-icon:hover {
    color: teal;
  }

  #trash-icon:hover {
    color: red;
  }

  #logout-nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 2vw;
  }
  .collection {
    margin-bottom: 15px;
  }

  .collection {
    margin-bottom: 15px;
  }

  #login-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 6vw;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
  }
  .reader-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh;
  }
  .reader-nav-icon {
    margin-bottom: 1.5vh;
  }

  #back.reader-nav-icon:hover {
    color: rgb(46, 125, 243);
  }

  #heart-icon:hover {
    color: #ff9999;
  }

  #heart.reader-nav-icon:active {
    color: #ff9999;
  }

  #tags-icon:hover {
    color: blue;
    opacity: 0.6;
  }

  #archive-icon:hover {
    color: #7de8e8;
  }

  #trash-icon:hover {
    color: #ff6666;
  }

  #one-article-viewer {
    padding-right: 10em;
    display: flex;
    justify-content: space-evenly;
  }

  #reader-nav {
    position: fixed;
    display: flex;
    height: 25vw;
    flex-direction: column;
    padding-left: 1vw;
  }

  .reader-nav-text {
    margin-top: 0;
  }
  #main-page {
    display: flex;
    flex-direction: row;
  }

  #sidebar {
    height: 100vh;
    width: 250px;
    position: sticky;
    padding-left: 20px;
    margin-right: 20px;
  }

  #content-home {
    width: 100%;
  }

  .description {
    font-size: 0.8em;
  }

  #login-container {
    position: absolute;
    left: 35%;
    top: 20%;
    width: 400px;
    height: 250px;
    margin: auto;
    align-items: center;
  }

  #login {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  #auth-form {
    display: flex;
    justify-content: space-between;
  }

  #hamburger {
    margin-left: 1vw;
    padding-left: 4vw;
    padding-right: 1vw;
    width: 5vw;
  }

  .content-card-share{
    position: relative;
    float:right;
  }


  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px) {
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    #login-container {
      width: 200px;
      left: 23%;
    }
    #content-home {
      margin-left: 25px;
      margin-right: 25px;
    }
    #one-article-viewer {
      display: flex;
      padding: 0;
      margin-left: 2em;
      flex-direction: column;
      justify-content: space-between;
    }
    #reader-nav {
      margin-left: 26em;
    }
  }

  @media only screen and (min-device-width: 500px) and (max-device-width: 800px) {
    #login-container {
      width: 300px;
      left: 40%;
    }
    #content-home {
      margin-left: 50px;
      margin-right: 50px;
    }
  }

  @media only screen and (min-device-width: 760px) and (max-device-width: 1240px) {
    #one-article-text {
      margin-left: 14em;
      padding-right: 6em;
    }
    #one-article-viewer {
      padding-left: 10em;
      padding-right: 2em;
      z-index: 1;
    }
    #reader-nav {
      margin-left: 2em;
    }
  }
  }
}
